@{
    ViewData["Title"] = "Home Page";
}

@* <hr /> *@
<div class="container mb-3">
    <h2 class="text-center mb-3">Books</h2>
    <div class="row">
        <div class="col-md-3 d-flex justify-content-center">
            <div class="card">
                <img src="~/Images/Books/atonement.png" class="card-img-top" alt="atonement">
                <div class="card-body">
                    <h5 class="card-title">Atonement</h5>
                    <p class="card-text">$$$</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 d-flex justify-content-center">
            <div class="card">
                <img src="~/Images/Books/to_kill_a_mockingbird.png" class="card-img-top" alt="to_kill_a_mockingbird">
                <div class="card-body">
                    <h5 class="card-title">To Kill a Mockingbird</h5>
                    <p class="card-text">$$$</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 d-flex justify-content-center">
            <div class="card">
                <img src="~/Images/Books/an_elephant_in_the_garden.png" class="card-img-top" alt="an_elephant_in_the_garden">
                <div class="card-body">
                    <h5 class="card-title">An Elephant in the Garden</h5>
                    <p class="card-text">$$$</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 d-flex justify-content-center">
            <div class="card">
                <img src="~/Images/Books/storytelling_with_data.png" class="card-img-top" alt="storytelling_with_data">
                <div class="card-body">
                    <h5 class="card-title">Storytelling with Data</h5>
                    <p class="card-text">$$$</p>
                </div>
            </div>
        </div>
    </div>
</div>
@* <hr /> *@
<div class="container mb-3">
    <h2 class="text-center mb-3">Games</h2>
    <div class="row">
        <div class="col-md-3 d-flex justify-content-center">
            <div class="card">
                <img src="~/Images/Games/god_of_war_ragnarok.png" class="card-img-top" alt="god_of_war_ragnarok">
                <div class="card-body">
                    <h5 class="card-title">God of War Ragnarök</h5>
                    <p class="card-text">$$$</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 d-flex justify-content-center">
            <div class="card">
                <img src="~/Images/Games/elden_ring.png" class="card-img-top" alt="elden_ring">
                <div class="card-body">
                    <h5 class="card-title">Elden Ring</h5>
                    <p class="card-text">$$$</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 d-flex justify-content-center">
            <div class="card">
                <img src="~/Images/Games/black_myth_wukong.png" class="card-img-top" alt="black_myth_wukong">
                <div class="card-body">
                    <h5 class="card-title">Black Myth: Wukong</h5>
                    <p class="card-text">$$$</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 d-flex justify-content-center">
            <div class="card">
                <img src="~/Images/Games/ghost_of_tsushima.png" class="card-img-top" alt="ghost_of_tsushima">
                <div class="card-body">
                    <h5 class="card-title">Ghost 0f Tsushima</h5>
                    <p class="card-text">$$$</p>
                </div>
            </div>
        </div>
    </div>
</div>
@* <hr /> *@
<div class="container mb-3">
    <h2 class="text-center mb-3">Movies</h2>
    <div class="row">
        <div class="col-md-3 d-flex justify-content-center">
            <div class="card">
                <img src="~/Images/Movies/avengers_infinity_war.png" class="card-img-top" alt="avengers_infinity_war">
                <div class="card-body">
                    <h5 class="card-title">Avengers: Infinity War</h5>
                    <p class="card-text">$$$</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 d-flex justify-content-center">
            <div class="card">
                <img src="~/Images/Movies/avengers_endgame.png" class="card-img-top" alt="avengers_endgame">
                <div class="card-body">
                    <h5 class="card-title">Avengers: Endgame</h5>
                    <p class="card-text">$$$</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 d-flex justify-content-center">
            <div class="card">
                <img src="~/Images/Movies/black_panther.png" class="card-img-top" alt="black_panther.">
                <div class="card-body">
                    <h5 class="card-title">Black Panther</h5>
                    <p class="card-text">$$$</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 d-flex justify-content-center">
            <div class="card">
                <img src="~/Images/Movies/doctor_strange_multiverse_of_madness.png" class="card-img-top" alt="doctor_strange_multiverse_of_madness">
                <div class="card-body">
                    <h5 class="card-title">Doctor Strange in the Multiverse of Madness</h5>
                    <p class="card-text">$$$</p>
                </div>
            </div>
        </div>
    </div>
</div>