@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <h2 class="text-center">Books</h2>
    <div class="row row-cols-md-2 g-4">
        <div class="col">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Books title</h4>
                    <p class="card-text">$$$</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Books title</h4>
                    <p class="card-text">$$$</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Books title</h4>
                    <p class="card-text">$$$</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Books title</h4>
                    <p class="card-text">$$$</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <h2 class="text-center">Games</h2>
    <div class="row row-cols-md-2 g-4">
        <div class="col">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Gamees title</h4>
                    <p class="card-text">$$$</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Gamees title</h4>
                    <p class="card-text">$$$</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Gamees title</h4>
                    <p class="card-text">$$$</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Gamees title</h4>
                    <p class="card-text">$$$</p>
                </div>
            </div>
        </div>
</div>
<div class="container-fluid">
    <h2 class="text-center">Movies</h2>
        <div class="row row-cols-md-2 g-4">
            <div class="col">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">Movies title</h4>
                        <p class="card-text">$$$</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">Movies title</h4>
                        <p class="card-text">$$$</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">Movies title</h4>
                        <p class="card-text">$$$</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">Movies title</h4>
                        <p class="card-text">$$$</p>
                    </div>
                </div>
            </div>
</div>